<?xml version="1.0" encoding="UTF-8"?>
<xmlloader_nfse>
  <definition>
    <name>abrasf</name>
  </definition>
  <definition>
    <name>ginfes</name>
  </definition>
  <definition>
    <name>contagem</name>
  </definition>
  <definition>
    <name>joaomonlevade</name>
  </definition>
  <definition>
    <name>divinopolis</name>
  </definition>
  <filters>
    <filter>
      <id>abrasf</id>
      <content>3106200</content>
      <municipio>Belo Horizonte</municipio>
      <uf>MG</uf>
    </filter>
    <filter>
      <id>ginfes</id>
      <content>3106705</content>
      <municipio>Betim</municipio>
      <uf>MG</uf>
    </filter>
    <filter>
      <id>contagem</id>
      <content>3118601</content>
      <municipio>Contagem</municipio>
      <uf>MG</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2800308</content>
      <municipio>Aracaju</municipio>
      <uf>SE</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1501402</content>
      <municipio>Belem</municipio>
      <uf>PA</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1400100</content>
      <municipio>Boa Vista</municipio>
      <uf>RR</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>5300108</content>
      <municipio>Brasilia</municipio>
      <uf>DF</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>5002704</content>
      <municipio>Campo Grande</municipio>
      <uf>MS</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>5103403</content>
      <municipio>Cuiabá</municipio>
      <uf>MT</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>4106902</content>
      <municipio>Curitiba</municipio>
      <uf>PR</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>4205407</content>
      <municipio>Florianopolis</municipio>
      <uf>SC</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2304400</content>
      <municipio>Fortaleza</municipio>
      <uf>CE</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>5208707</content>
      <municipio>Goiania</municipio>
      <uf>GO</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2507507</content>
      <municipio>João Pessoa</municipio>
      <uf>PB</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1600303</content>
      <municipio>Macapa</municipio>
      <uf>AP</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2704302</content>
      <municipio>Maceio</municipio>
      <uf>AL</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1302603</content>
      <municipio>Manaus</municipio>
      <uf>AM</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2408102</content>
      <municipio>Natal</municipio>
      <uf>RN</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1721000</content>
      <municipio>Palmas</municipio>
      <uf>TO</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>4314902</content>
      <municipio>Porto Alegre</municipio>
      <uf>RS</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1100205</content>
      <municipio>Porto Velho</municipio>
      <uf>RO</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2611606</content>
      <municipio>Recife</municipio>
      <uf>PE</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>1200401</content>
      <municipio>Rio Branco</municipio>
      <uf>AC</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>3304557</content>
      <municipio>Rio de Janeiro</municipio>
      <uf>RJ</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>3302403</content>
      <municipio>Macae</municipio>
      <uf>RJ</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2927408</content>
      <municipio>Salvador</municipio>
      <uf>BA</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2111300</content>
      <municipio>São Luis</municipio>
      <uf>BA</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>3550308</content>
      <municipio>São Paulo</municipio>
      <uf>SP</uf>
    </filter>
    <filter>
      <id>ginfes</id>
      <content>3548500</content>
      <municipio>Santos</municipio>
      <uf>SP</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>2211001</content>
      <municipio>Teresina</municipio>
      <uf>PI</uf>
    </filter>
    <filter>
      <id>abrasf</id>
      <content>3205309</content>
      <municipio>Vitória</municipio>
      <uf>ES</uf>
    </filter>
    <filter>
      <id>joaomonlevade</id>
      <content>3136207</content>
      <municipio>João Monlevade</municipio>
      <uf>MG</uf>
    </filter>
    <filter>
      <id>divinopolis</id>
      <content>3122306</content>
      <municipio>Divinópolis</municipio>
      <uf>MG</uf>
    </filter>
  </filters>
</xmlloader_nfse>
